*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav ul li{
     display: inline;
    margin-left: 10%;
}
#flag{
    width: 50px;
    height: 50px;
}
.brickhouse{
    background-color: yellow;
    display: flex;
}
#brick{
    width: 50px;
    height: 60px;
}
#catalog{
    margin-top: 2%;
    padding-left: 3%;
    margin-left: 10%;
}
#search{
    margin-top: 2%;
    margin-left: 3%;
    padding-right: 5%;
}
.icon{
    margin-left: 45%;
    margin-top: 3%;
}
.vans{
    margin-left: 600px;
    font-size: 40px;
  }
  .milly{
    border: solid;
    width: 15%;
    padding-left:20px ;
    padding-bottom:18px ;
   border-radius: 12px;
    border-color: grey;
    margin-left: 900px;
}
#save{
  padding: 5px 40px;
  border-radius: 5px;
  border-color: green;
  color: green;
  background-color: white;
}
#der{
  padding: 5px 50px;
  background-color: yellow;
  color: white;
  border-radius: 5px;
  border-color: yellow;
}
.p-page{
  display: grid;
  /* padding: 60px; */
  margin-top: -180px;
}
/* #btn3{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  color:black;
  border-color: #fff;
}
#btn2{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #FFD600;
  color:black;
  border-color: #fff;
} */
#price{
  justify-content: space-between;
}
.order1{
  margin-left:27%;
  margin-top: -37%;
}
.one{
  padding-left:25% ;
  margin-top: 3%;
}
/* .two{
  padding-left:25% ;
  margin-top:3% ; */
/* } */
.two{
  padding-left:25%;
  margin-top:3% ;
}
.three{
  padding-left:25%;
  margin-top:3% ;
}
#p1{
  color: grey;
  text-decoration: line-through;
  margin-top: 50px;
}
/* media query for navbar */
/* @media screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    height: auto;
  */
#sas{
  display: flex;
  /* margin-left: 30%; */
}
#dod2{
  width: 150px;
  height: 200px; 
  margin: 60px;
  border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);

}
#dod3{
  width: 150px;
  height: 200px; 
  margin: 60px;
  border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}
#dod4{
  width: 150px;
  height: 200px; 
  margin: 60px;
  border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}
#dod1{
  width: 150px;
  height: 200px; 
  margin: 60px;
  border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}
.footer{
  background-color: purple;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: medium;
}
.cones2{
  font-size: medium;
}
#but0{background-color: yellow;  color: black;
}
#but33{border-radius: 50px;  padding: 30px; background-color: yellow; color: black;
}
@media screen  and (max-width:920px){
 #sas{margin-left: -1200px;}
  


}
